#### <font color='green'>Replace values in pandas column with <mark>dictionary</mark> lookup</font>

In [1]:
import pandas as pd
import numpy as np
from termcolor import colored

In [2]:
orig =[['a',1],['b',2],['c',3],['d',4]]
orig = pd.DataFrame(orig, columns=['key','value'])
orig

  key  value
0   a      1
1   b      2
2   c      3
3   d      4

In [3]:
dict_a = {'a':'vini','b':'roberto','c':'gideon'}
dict_b = {'d':'mark','e':'wendy','f':'charles'}
dict_c={**dict_a,**dict_b}
dict_c

{'a': 'vini',
 'b': 'roberto',
 'c': 'gideon',
 'd': 'mark',
 'e': 'wendy',
 'f': 'charles'}

In [4]:
new = orig.replace({'key':dict_c})
new

       key  value
0     vini      1
1  roberto      2
2   gideon      3
3     mark      4

In [5]:
another = orig.copy(deep=True)
another['key'] = another['key'].map(dict_c)
print(colored(another, 'blue'))

       key  value
0     vini      1
1  roberto      2
2   gideon      3
3     mark      4